*{
    margin: 0;
    padding: 0;
}
body{
    margin-bottom: 10%;
    max-width: 100%;
    overflow-x: hidden;
}



/*dropdown begining*/


.dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(5, 0, 0);
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #f8f8f8;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding:  16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/*dropdown end*/





.deco{
    text-decoration: none;
    color: black;
}
.here{
    display: flex;
    list-style-type: none;
}
.there{
    display: flex;
    float: right;
    margin-left: 35vw;
    list-style-type: none;
    margin-top: 2%;
}
.all1{
    padding-left: 1vw;
    padding-right: 1vw;
}
.download{
    margin-top: 2%;
}
.more{
    margin-top: 2%;
}
.all2{
    padding-left: 1vw;
    padding-right: 1vw;
}
.skype{
    font-weight: bold;
    font-size: 4vh;
    margin-top: 1.5%;
}
.microsoft{
    width: 15%;
    height: 6vh;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
}
#microsoftalt{
    display: none;
}
ul li a.deco:hover{
    text-decoration: 3px solid underline;
}
.VR{
    font-weight: bold;
    font-size: 7vh;
    margin-left: 3%;
}
.JustSmall{
    display: none;
}
.Smally{
    display: none;
}
.HR{
    display: none;
}




/*section2 */

.container1{
    display: grid;
    grid-template-columns: 1.2fr 1.4fr;
    width: 98%;
    height: 130vh;
    background: #f4f4f4ce;
    margin-left: 1%;
    margin-top: 3%;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;

}
.skyper{
    width: 50vw;
    height: 40%;
    margin-top: 30%;

}
.preserve{
    font-size: 9vh;
    color: #000000c5;
    margin-left: 13%;
    font-family: sans-serif;
    line-height: 1em;
    margin-top: 15%;
}
.world{
    margin-left: 13%;
    font-size: 1.125em;
    font-weight: 400;
    letter-spacing: -.3px;
    line-height: 1.33333em;
    margin-bottom: 1.66667em;
}
.CreateVideo{
    height: 10vh;
    background-color: #0078ca;
    border-radius: 5em;
    border: 0;
    width: 55%;
    margin-left: 10%;
    color: white;
    font-weight: bolder;
    font-size: 3vh;
    margin-top: 5%;
}
#CreateVideo:hover{
    background-color: rgba(6, 93, 180, 0.884);
}
#skyper:hover{
    border: 1px solid #f4f4f4;
}
.InlineLink{
    color: rgb(45, 114, 179);
}
.download2{
    margin-left: 20%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.downloaded{
    color:rgba(6, 93, 180, 0.884)
}
#InlineLink:hover{
    color: rgba(0, 0, 0, 0.651);
}
.alternative{
    display: none;
}
#alt2{
    display: none;
}
.preserve2{
    display: none;
}
.world2{
    display: none;
}


/*section3 */
.discover{
    text-align: center;
    font-size: 5vh;
    margin-top: 5%;
    margin-bottom: 3%;
}
.supercontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 2%;
    width: 97%;
    grid-gap: 2%;
    display: border-box;
}
.card1{
    border: 1px solid rgba(0, 0, 0, 0.336);
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    height: 100%;
    width: 100%;
}
.card2{
    border: 1px solid rgba(0, 0, 0, 0.336);
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    height: 100%;
    width: 100%;
}
.card3{
    border: 1px solid rgba(0, 0, 0, 0.336);
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    height: 100%;
    width: 100%;
}
.card1image1{
    width: 100%;
    height: 40vh;
    border-top-right-radius: 1em;
}
.card2image1{
    width: 100%;
    height: 40vh;
    border-top-right-radius: 1em;
}
.card3image1{
    width: 100%;
    height: 40vh;
    border-top-right-radius: 1em;
}
.want{
    font-size: 5vh;
    font-weight: bolder;
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 15%;
}
.did{
    margin: 10%;
    margin-top: 5%;
    font-size: 4vh;
}

.your{
    font-size: 5vh;
    font-weight: bolder;
    margin-left: 10%;
    margin-top: 10%;
}
.last{
    margin: 10%;
    margin-top: 5%;
    font-size: 4vh;
}
.how{
    font-size: 5vh;
    font-weight: bolder;
    margin-left: 10%;
    margin-top: 10%;
}
.from{
    margin: 10%;
    margin-top: 5%;
    font-size: 4vh;
}
.learn{
    margin-left: 10%;
    color: #0078ca;

}







.YourBrowser{
    font-size: 8vh;
    text-align: center;
    margin-top: 5%;
}
.NoInstall{
    display: flex;
    justify-content: space-around;
}
.chatnow{
    width: 13%;
    height: 10vh;
    background-color: #0078ca;
    border-radius: 5em;
    border: 0;
    color: white;
    font-weight: bolder;
}
.BrowserIcons{
    display: inline-flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 3%;
}
#chatnow{
    display: flex;
    justify-content: space-around;
}
.AllSocial{
    display: block;
}
.SocialMedia{
    list-style-type: none;
    display: inline-flex;
    width: 50%;
    margin-top: 10%;
    margin-left: 5%;
}
.social{
    color: black;
}
.Social1{
    color: black;
    margin-left: 3%;
}
.Social2{
    color: black;
    margin-left: 3%;
}
.Social3{
    color: black;
    margin-left: 3%;
}
.Social4{
    color: black;
    margin-left: 3%;
}
.replace{
    float: right;
    margin-right: 10%;
}
.browser1{
    width: 7%;
}
.browser2{
    width: 7%;
}
.browser3{
    width: 7%;
}
.browser4{
    width: 7%;
}
.capable{
    float: right;
    margin-right: 10%;
}
.Limited{
    float: right;
    margin-right: 10%;
}






/*The Media Queries*/

/*700px*/
@media(max-width: 700px){
    body{
        max-width: 700px;
    }
    .here{
        display: grid;
        grid-template-columns: 1fr;
    }     
    .container1{
        display: grid;
        grid-template-columns: 1.4fr;
        width: 98%;
        height: 100%;
        background: #f4f4f4ce;
        margin-left: 1%;
        margin-top: 3%;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        border-bottom-left-radius: 1em;
    
    }
    #skyper{
        display: none;
    }
    .alternative{
        display: flex;
        margin-bottom: 5%;
        margin-left: 10%;
        border-bottom-left-radius: 3em;
        border-bottom-right-radius: 3em;
        border-top-left-radius: 3em;
        border-top-right-radius: 3em;
        width: 80%;
    }
    .supercontainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 95%;
        margin-left: 2%;
        padding: 0;

    }
    .card3{
        display: none;
    }
    .SocialMedia{
        list-style-type: none;
        display: block;
        margin-top: 10%;
        margin-left: 5%;
    }
    .Limited{
        float: none;
        margin-left: 5%;
    }
.replace{
    float: none;
    margin-left: 5%;
}
.capable{
    float: none;
    margin-left: 5%;
}
    .preserve{
        display: none;
    }
    .world{
        display: none;
    }
    .preserve2{
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .world2{
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 1%;
        display: grid;
        grid-template-columns: 1fr;
        font-size: 3vh;
    }
    #CreateDiv{
        display: flex;
        justify-content: space-around;
        margin-left: 0;
    }
    #CreateVideo{
        margin-left: 0; 
    }
    .download2{
        text-align: center;
        margin-top: 1%;
        margin-bottom: 2%;
        margin-left: 0;
    }
    .all1{
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .here{
        display: grid;
        grid-template-columns: 1fr;
    }
    .download{
        display: none;
    }
    .more{
        display: none;
    }
    .all2{
        display: none;
    }
    .microsoft{
        display: none;
    }
    .VR{
        display: none;
    }
    .Container1{
        margin-top: 0;
    }
    .container1{
        margin-top: 0;
    
    }
    .host{
        display: none;
    }.skype{
        display: none;
    }
    .JustSmall{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        width: 94%;
        margin-left: 2%;
        margin-right: 2%;
        font-size: 5vh;
    }
    #microsoftalt{
        display: flex;
        justify-content: space-around;
        margin-top: 1%;
    }
    .world2{
        display: block;
        font-size: 4vh;
    }
    .SmallLimk{
        display: inline-flex;
    }
    #alt2{
        display: none;
    }
    .HR{
        display: grid;
        grid-template-columns: auto;
    }
    .card1{
        height: 100%;
    }
    .card2{
        height: 100%;
    }
    .card3{
        height: 100%;
    }
}




@media(max-width: 800px){
    body{
        max-width: 800px;
    }
    .here{
        display: grid;
        grid-template-columns: 1fr;
    }     
    .container1{
        display: grid;
        grid-template-columns: 1.4fr;
        width: 98%;
        height: 100%;
        background: #f4f4f4ce;
        margin-left: 1%;
        margin-top: 3%;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        border-bottom-left-radius: 1em;
    
    }
    #skyper{
        display: none;
    }
    .alternative{
        display: none;
    }
    .supercontainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 95%;
        margin-left: 2%;
        padding: 0;

    }
    .card3{
        display: none;
    }
    .SocialMedia{
        list-style-type: none;
        display: block;
        margin-top: 10%;
        margin-left: 5%;
    }
    .Limited{
        float: none;
        margin-left: 5%;
    }
.replace{
    float: none;
    margin-left: 5%;
}
.capable{
    float: none;
    margin-left: 5%;
}
    .preserve{
        display: none;
    }
    .world{
        display: none;
    }
    .preserve2{
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .world2{
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 1%;
        display: grid;
        grid-template-columns: 1fr;
        font-size: 3vh;
    }
    #CreateDiv{
        display: flex;
        justify-content: space-around;
        margin-left: 0;
    }
    #CreateVideo{
        margin-left: 0; 
    }
    .download2{
        text-align: center;
        margin-top: 1%;
        margin-bottom: 2%;
        margin-left: 0;
    }
    .all1{
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .here{
        display: grid;
        grid-template-columns: 1fr;
    }
    .download{
        display: none;
    }
    .more{
        display: none;
    }
    .all2{
        display: none;
    }
    .microsoft{
        display: none;
    }
    .VR{
        display: none;
    }
    .Container1{
        margin-top: 0;
    }
    .container1{
        margin-top: 0;
    
    }
    .host{
        display: none;
    }.skype{
        display: none;
    }
    .JustSmall{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        width: 94%;
        margin-left: 2%;
        margin-right: 2%;
        font-size: 5vh;
    }
    #microsoftalt{
        display: flex;
        justify-content: space-around;
        margin-top: 1%;
    }
    .world2{
        display: block;
        font-size: 4vh;
    }
    .SmallLimk{
        display: inline-flex;
    }   
    #alt2{
        display: flex;
        margin-bottom: 5%;
        margin-left: 10%;
        border-bottom-left-radius: 3em;
        border-bottom-right-radius: 3em;
        border-top-left-radius: 3em;
        border-top-right-radius: 3em;
        width: 80%;
    }
    .HR{
        display: grid;
        grid-template-columns: auto;
    }
}




@media(max-width: 500px){
    body{
        max-width: 500px;
    }
    .here{
        display: grid;
        grid-template-columns: 1fr;
    }     
    .container1{
        display: grid;
        grid-template-columns: 1.4fr;
        width: 98%;
        height: 100%;
        background: #f4f4f4ce;
        margin-left: 1%;
        margin-top: 3%;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        border-bottom-left-radius: 1em;
    
    }
    #skyper{
        display: none;
    }
    .alternative{
        display: flex;
        margin-bottom: 5%;
        margin-left: 10%;
        border-bottom-left-radius: 3em;
        border-bottom-right-radius: 3em;
        border-top-left-radius: 3em;
        border-top-right-radius: 3em;
        width: 80%;
    }
    .supercontainer{
        display: grid;
        grid-template-columns: 1fr;
        width: 95%;
        height: 100%;
        margin-left: 2%;
        padding: 0;

    }
    .SocialMedia{
        list-style-type: none;
        display: block;
        margin-top: 10%;
        margin-left: 5%;
    }
    .Limited{
        float: none;
        margin-left: 5%;
    }
.replace{
    float: none;
    margin-left: 5%;
}
.capable{
    float: none;
    margin-left: 5%;
}
    .preserve{
        display: none;
    }
    .world{
        display: none;
    }
    .preserve2{
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .world2{
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 1%;
        display: grid;
        grid-template-columns: 1fr;
        font-size: 3vh;
    }
    #CreateDiv{
        display: flex;
        justify-content: space-around;
        margin-left: 0;
    }
    #CreateVideo{
        margin-left: 0; 
    }
    .download2{
        text-align: center;
        margin-top: 1%;
        margin-bottom: 2%;
        margin-left: 0;
    }
    .all1{
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .here{
        display: grid;
        grid-template-columns: 1fr;
    }
    .download{
        display: none;
    }
    .more{
        display: none;
    }
    .all2{
        display: none;
    }
    .microsoft{
        display: none;
    }
    .VR{
        display: none;
    }
    .Container1{
        margin-top: 0;
    }
    .container1{
        margin-top: 0;
    
    }
    .host{
        display: none;
    }.skype{
        display: none;
    }
    .JustSmall{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        width: 94%;
        margin-left: 2%;
        margin-right: 2%;
        font-size: 5vh;
    }
    #microsoftalt{
        display: flex;
        justify-content: space-around;
        margin-top: 1%;
    }
    .world2{
        display: block;
        font-size: 4vh;
    }
    .SmallLimk{
        display: inline-flex;
    }
    #alt2{
        display: none;
    }
    .HR{
        display: grid;
        grid-template-columns: auto;
    }
    .card1{
        height: 100%;
    }
    .card2{
        height: 100%;
    }
    .card3{
        height: 100%;
    }
}


